#root {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}
#nav-links {
  animation: translate 0.5s;
}

#appointment-info-section {
  animation: horizontalTranslate 0.5s;
}

#personal-info-section {
  animation: horizontalTranslate 0.5s;
}

#medical-info-section {
  animation: horizontalTranslate 0.5s;
}

#appointment-image {
  animation: fadeIn 1.5s ease-out;
}

.animate-slide {
  animation: horizontalTranslate 0.5s;
}
.animate-fade-in {
  animation: fadeIn 0.5s ease-out;
}

@keyframes translate {
  0% {
    transform: translateY(-100%);
    display: none;
    opacity: 0;
  }

  100% {
    transform: translateY((0%));
    display: block;
    opacity: 1;
  }
}
p {
  font-size: large;
}

@keyframes horizontalTranslate {
  0% {
    transform: translateX(-100%);
    opacity: 0.3;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
